*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --p-blk-clr: #252525;
  --p-ylw-clr: #fde000;
  --h-ylw-clr: #ffed65;
  --s-wht-clr: #fdfdfe;
  --g-header: hsla(53, 100%, 50%, 0.9);
}

html {
  position: relative;
  min-height: 100vh;
  font-size: 1rem;
  border: 1px solid #fde000;
}

body {
  background: var(--p-blk-clr);
  color: var(--s-wht-clr);
  font-family: 'Thermal', sans-serif;
  /* good typography makes it easier to read */
  line-height: 1.6;
  margin: 0 0 3rem;
  border: 1px solid #000;
}

button {
  border: none;
  outline: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  padding: 0.8em 0;
  background: var(--g-header);
}

header > h1 {
  color: var(--p-blk-clr);
  font-size: 2em;
}

/*  MAIN */

.main {
  margin: 2rem 0 0;
  text-align: center;
}

.scoreboard {
  margin: 0 0 1rem;
  border: 1px solid blue;
}

.score-info {
  font-size: 1.5rem;
}

.score-subtitle {
  font-size: 0.6rem;
  margin: 0 0 1rem;
  border: 1px solid #000;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #fff;
  user-select: none;
}

.score-box {
  width: 200px;
  border: 1px solid red;
  font-size: 1.3rem;
}

.score-box > .score {
  margin: 0.8rem 0 1.4rem 0;
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0 0;
}

.btn {
  border-radius: 0.4rem;
  background: var(--p-ylw-clr);
}

.btn:hover {
  background: var(--h-ylw-clr);
  cursor: pointer;
}

.btn:active {
  background: var(--p-blk-clr);
}

.btn-box {
  width: 70px;
  height: 70px;
}

.sign {
  font-size: 3rem;
  user-select: none;
}

/* FOOTER */

.footer {
  position: absolute;
  user-select: none;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  padding: 0.8em;
  font-size: 1rem;
  opacity: 0.3;
}

.footer:hover {
  opacity: 1;
}


@media (min-width: 360px) {
  .main {
    margin: 2rem 0 0;
  }
  .scoreboard > .score-info {
    font-size: 1.8rem;
  }
  .scoreboard > .score-subtitle {
    font-size: .7rem;
  }
  .score-box > .sign {
    font-size: 7rem;
  }
  .btn-box {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 540px) {
  header {
    font-size: 1.4rem;
  }
  .scoreboard > .score-info {
    font-size: 3.2rem;
  }
  .scoreboard > .score-subtitle {
    font-size: 1.2rem;
  }
  .scoreboard > .score-container{
    max-width: 600px;
  }
  .score-box {
    width: 300px;
    height: 280px;
  }
  .score{
    font-size: 2rem;
  }
  .btn-box {
    width: 140px;
    height: 140px;
  }
  .sign {
    font-size: 4rem;
  }
}
